#emoji {
  font-size: 2.5rem;
  transform: scale(0.8);
  filter: grayscale(1);
  transition: 0.2s transform ease, 0.2s filter ease, 0.2s rotate ease;
  background: transparent;
  border: none;
}
#emoji:hover {
  transform: scale(1.3) rotate(360deg);
  filter: grayscale(0);
}
